/* BodySide.css */

.container {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 0 10px;
  height: 100%;
  justify-content: space-between;
}

.first-part {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  border: 1px solid white;
  padding: 7px 10px;
  background-color: #313750;
}

.icons {
  display: flex;
  width: 100%;
  margin-left: 20px;
}

.icon {
  display: flex;
  margin-bottom: 18px;
  width: 30%;
}

.separator {
  margin-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  height: 30px;
}

.arrow-down-icon {
  color: #404040;
}

.text {
  margin-left: 20px;
  margin-bottom: 20px;
}

.border {
  border: 1px solid white;
  border-radius: 3px;
  padding: 3%;
  background-color: #121213;
}
